* {
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
}
.accordion {
    width: 800px;

}

.accordion .contentbox {
    position: relative;
    margin: 20px;
}
.label {
    padding: 10px;
    background-color: rgb(29, 127, 127);
    color: white;
    position: relative;
}

.label::after {
    position: absolute;
    content: "+";
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.content{
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: all .5s;
}

.contentbox.active .content {
    height: 100px;
    padding: 15px;
}